{{ define "main" }}

{{ partial "accent-color-style.html" . }}

<section class="site-work-header" data-aos="fade-in" data-aos-duration="1500">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="site-work-header-title">Armadillo</h3>
        <p class="site-work-header-desc">Company Cooperation Project</p>
        <p class="site-work-header-role">Role: UX/ UI Designer</p>
        <p class="site-work-header-disclaimer">Disclaimer: To comply with NDA, I have obfuscated confidential information
          in this case study. All information in this case study is my own and does not necessarily reflect the views of
          Armadillo.</p>
      </div>
    </div>
  </div>
</section>

<section class="site-work-detail">

  {{ partial "work/detail-front.html" (dict
    "backgroundImage" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/front-page.jpg"
    "title" "Armadillo"
    "description" "Armadillo provides retail investors with better analytical information, and helps them make good investment decisions."
    "buttonHref" "#problem-space"
  ) }}

  <div id="problem-space" class="site-work-detail-page">
    <div class="container">
      <div class="site-work-detail-page-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>Problem Space</h3>
        <p>As growing retail investors flood the market, investors need better analytics more than ever. However, more
          than half of retail investors are NOT satisfied with the existing insights and research provided by
          brokerages.
        </p>
      </div>

      <div class="site-work-detail-page-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/problem-space.png"
          alt="problem space">
      </div>

      <div class="site-work-detail-page-more" data-aos="fade-in" data-aos-duration="1500">
        <p>How might we provide a platform that enables retail investors to gain more effective analytical information
          and make better investment decisions?</p>
      </div>
    </div>
  </div>


  <div id="01-Research" class="site-work-detail-page-template">
    <div class="container">

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>01. Research</h3>
        <h4>I. Background Research</h4>
        <p>To better understand the addressed problem and have a macro view of the market, I did a background research
          first based on these questions brought by stakeholders: Why are we doing this for the market? Why are we the
          best to do this? How much impact would we have? How many potential target users would we get?
        </p>
      </div>

      {{ partial "work/media-text-block.html" (dict
        "imageSrc" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/desk-research-presentation.jpg"
        "imageAlt" "problem space"
        "introHtml" "<p><b>Takeaways:</b></p>"
        "listItems" (slice
          "The typical target user is 24-45 year old investors who are more likely to trust technology + advisors, which accounts for about 25% of US stock market trading volume."
          "I suggest to highlight our high tech strengths like AI, data mining, investment module, graph, HCI, blockchain and data process, which plays an important role in attracting them and let them trust in our platform."
          "According to the research, services we provide could include personal investment strategy, reliable platform with certificated analysts, information processing, and solid research and stock market news."
        )
        "reverse" true
      ) }}

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. Competitive & Industry Landscape</h4>
        <p>I assessed how the client stacks up against competitors and usability leaders, and identified opportunities
          for innovation in problem solving, market segments, and unique value proposition.</p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/competitive-analysis-general.jpg"
          alt="Competitive Analysis General">
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p>At the user experience level, I evaluated competitors' user experience, compared their usefulness, usability
          and desirability, as well as analyzed how they're trying to achieve the goal, what their brand is trying to
          convey, and what customers like or dislike.</p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/competitive-analysis.png"
          alt="competitive-analysis">
      </div>

    </div>
  </div>

  <div id="02-User-Research" class="site-work-detail-page-template"
    style="background-color:var(--accent-color);">
    <div class="container">

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>02. User Research</h3>
        <h4>I. User Survey</h4>
        <p>To start, I conducted user research with the UX team through participatory, qualitative, and quantitative
          methods to enable understanding of the context as well as the users’ needs. We co-created the user survey and
          sent it widely to collect useful data, from which we learned about basic information, investment habits, needs
          and pain points of our target users.
        </p>
      </div>

      {{ partial "work/two-chart.html" (dict
        "images" (slice
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/survey-result.jpg"
            "alt" "survey result1"
          )
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/survey-result2.jpg"
            "alt" "survey result2"
          )
        )
      ) }}

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. User Interview</h4>
        <p>We conducted interviews with our selected target users from among the survey respondents who were willing to
          be interviewed. They are invited to test the existing Armadillo platform. A range of people were engaged,
          including roles such as Investment company CEO, PhD student in science and engineering, senior product
          manager, individual investor. Stakeholders from Armadillo were also involved in the process to provide a
          technical perspective.</p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/user-interview.jpg"
          alt="User Interview">
      </div>

    </div>
  </div>


  <div id="02-User-Research-2" class="site-work-detail-page-template site-work-detail-page-template--spaced">
    <div class="container">

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>III. Persona</h4>
        <p>Based on the interviews, I came up with a typical persona to abstract users' investment goals and needs, as
          well as their current fears and pain points using existing investment methods.</p>
      </div>

      <div class="site-work-detail-page-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/persona-01.jpg"
          alt="persona-01">
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>IV. Experience Map</h4>
        <p>I also created an experience map to provide a digestible means of understanding information from interviews,
          which created a shared understanding with stakeholders of customer needs and pains, feelings and opportunity
          areas and were used to inform design decisions.</p>
      </div>

      <div class="site-work-detail-page-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/experience-map.jpg"
          alt="experience-map">
      </div>

    </div>
  </div>

  <div id="03-Ideation" class="site-work-detail-page-template">
    <div class="container">

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>03. Ideation</h3>
      </div>

      {{ partial "work/media-text-block.html" (dict
        "title" "I. Storyboard"
        "paragraphs" (slice "I considered different use cases of our platform. Thinking through the users' needs and pain points, I developed a storyboard to show what the possible improved user journey could be, and how users interact with various touchpoints in a user-friendly way.")
        "imageSrc" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/storyboard-01.jpg"
        "imageAlt" "storyboard-01"
      ) }}

      {{ partial "work/media-text-block.html" (dict
        "title" "II. Prioritization"
        "paragraphs" (slice
          "I then discussed with stakeholders and narrowed down the design scope. We agreed to focus first on designs that allow users to subscribe models and use the projection function of the platform."
          "I listed improvements that the new design made, to make sure everyone is on the same page."
        )
        "imageSrc" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/prioritization.jpg"
        "imageAlt" "prioritization"
        "reverse" true
      ) }}

    </div>
  </div>

  <div id="04-Wireframing" class="site-work-detail-page-template">
    <div class="container">
      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>04. Wireframing</h3>
        <p>In the Design Phase, we created wireframes for focused features. I was responsible for planning the design
          workshops, creating wireframes of the projection function, and facilitating discussions with stakeholders to
          co-create and validate the designs. I played a lead role in managing decisions around the functional
          requirements.</p>
        <p>For the projection function, I made two possible options. The main difference between them is whether or not
          the technical reasons (matches) for the projection are included. After discussing with stakeholders, we agree
          that it would be better to include it as an advanced result for experienced users.</p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <p><b>option 1</b>: "matches" as an optional function</p>
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/wireframe-opt1.jpg"
          alt="wireframe-opt1">
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <p><b>option 2 (chosen)</b>: "matches" as advanced results</p>
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/wireframe-opt2.jpg"
          alt="wireframe-opt2">
      </div>
    </div>
  </div>

  <div id="05-MVP-Design" class="site-work-detail-page-template">
    <div class="container">
      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>05. MVP Design</h3>
        <p>Once wireframes were validated, I developed high-fidelity prototypes that incorporated the UI design of the
          existing Armadillo platform to provide visual direction to our build team.</p>
        <h4>I. Design System</h4>
        <p>First, I made a design system to define standards to adhere to and create our brand's identity.
        </p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/design-system.jpg"
          alt="design-system">
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. High-fidelity Designs</h4>
        <p>Incorporating the design system, I created high-fidelity interactive prototypes and worked closely with
          stakeholders to assess the feasibility of each feature. I developed a Minimum Viable Product (MVP) to work
          towards as well as additional concepts for future consideration.</p>
      </div>

      {{ partial "work/two-chart.html" (dict
        "images" (slice
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design1.jpg"
            "alt" "hf-design1"
            "captionHtml" "<b>Watchlist</b> - Indicators are filtered by attributes. Users can easily search indicators they want to monitor from the watch list and make projections. Analysts' opinions are concluded as simple and clear textual suggestions."
          )
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design2.jpg"
            "alt" "hf-design2"
            "captionHtml" "<b>Projection</b> - The projection length could be change by the slider. By changing the length, investors learn the predicted future trend of indicators. History Return Uncertainty and Future Projected Return will be explained by clicking question marks."
          )
        )
      ) }}

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design3.jpg" alt="hf-design3">
          <p><b>Historical Matches</b> - By clicking on the colored line on the main chart, the date that matches in history is highlighted on Historical Matches, from which investors can clearly see the price trend in the history.</p>
      </div>

      {{ partial "work/two-chart.html" (dict
        "images" (slice
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design4.jpg"
            "alt" "hf-design4"
            "captionHtml" "<b>Indicator Matches</b> - Indicators matches show matching condition of a single indicator in the history. The historical matches are results of matches overlapped by weighed indicator matches."
          )
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design5.jpg"
            "alt" "hf-design5"
            "captionHtml" "<b>Indicator Matches Scroll Down</b> - The historical price chart is fixed. By scrolling down, users can see more indicator matches."
          )
        )
      ) }}

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>III. Product Handoff</h4>
      </div>

      {{ partial "work/media-text-block.html" (dict
        "paragraphs" (slice "After user testing and iterating, I improved the design and features based on users' feedback received. Three UI design groups also aligned design details at this stage. Then I submitted the final design handoff to stakeholders.")
        "imageSrc" "https://cdn.celiasy.com/images/ux-web3/armadillo/handoff/handoff.gif"
        "imageAlt" "handoff"
        "reverse" true
      ) }}

    </div>
  </div>

  <div id="06-Impact-Reflections" class="site-work-detail-page-template">
    <div class="container">
      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>06. Impact & Reflections</h3>
      </div>

      <div class="site-work-detail-page-template-two-text" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-template-two-text-col">
          <h4>I. Impact</h4>
          <p>Armadillo reflects the practice of decentralization in the investment field. For analysts, the platform
            provides them with opportunities to get paid with their models and insights by adopting a subscription
            revenue model. For retail investors, the platform makes up for the disadvantage caused by information
            asymmetry, allowing them to invest in a more scientific and rational way.</p>
        </div>
        <div class="site-work-detail-page-template-two-text-col">
          <h4>II. Reflections</h4>
          <p>In this project, the entire design process is tightly coupled with a user-centred approach. I also worked
            closely with stakeholders. It is an amazing experience for me to act as medium and catalyst between users
            and stakeholders - both fit myself into users' shoes and think from stakeholders' point of view. I am glad
            I made it.</p>
          <p class="mt-4">I faced challenges when I first used the platform, when it was still just for analysts. I realized that
            it would be difficult to "translate" the information that analysts want to convey to most retail
            investors. It was detailed user research that helped me find the right solution.</p>
        </div>
      </div>
    </div>
  </div>

</section>

{{ end }}