{{ define "main" }}

{{ partial "accent-color-style.html" . }}

<section class="site-work-header" data-aos="fade-in" data-aos-duration="1500">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="site-work-header-title">Trust Finance</h3>
        <p class="site-work-header-project-desc"><a
            href="https://ethglobal.com/showcase/trust-finance-vqk0h" target="_blank">ETH Global
            Superfluid Best Overall Prize</a>, Polygon Hackathon Runner Up Prize</p>
        <p class="site-work-header-role">Role: Co-Founder, Product Manager, UX/ UI Designer</p>
      </div>
    </div>
  </div>
</section>

<section class="site-work-detail">

  {{ partial "work/detail-front.html" (dict
    "backgroundImage" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/title-page2.jpg"
    "title" "Trust Finance"
    "description" "Enabling Simple and Real Time Payments, HR Benefits, and Accounting for Crypto Businesses and Personal Users."
    "buttonHref" "#problem-space"
    "textColor" "#9DA9B9"
    "buttonWrapperClass" "trust-finance-blue"
  ) }}

  <div id="problem-space" class="site-work-detail-page" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">
      <div class="site-work-detail-page-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>Problem Space</h3>
        <p>Businesses and employees face lots of friction when trying to make payroll payments, invest, or track
          transactions using crypto.
        </p>
      </div>

      {{ partial "work/two-card.html" (dict
        "cards" (slice
          (dict
            "imageSrc" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/employee.png"
            "imageAlt" "employee"
            "title" "Businesses"
            "listItems" (slice
              "<strong>Paying salaries in crypto can be time consuming.</strong> DAO and crypto startups founders have to make individual payments to team members from their own wallet in a process that can take hours."
              "<strong>There's no cohesive audit trail</strong> if you're a crypto company. Crypto transactions can span a dozen different wallets or products."
            )
          )
          (dict
            "imageSrc" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/business.png"
            "imageAlt" "business"
            "imageStyle" "width: 16%"
            "title" "Employees"
            "listItems" (slice
              "<strong>Moving income to investment accounts takes between 4 - 7 days</strong> for funds to be available for investment."
              "<strong>It is impossible for employees to manage and configure their investment asset</strong> (savings, investment or retirement accounts - 401k or IRA) in real time."
            )
          )
        )
      ) }}

      <div class="site-work-detail-page-more" data-aos="fade-in" data-aos-duration="1500">
        <p>What will it take for DAO, NFT, and DeFi businesses to scale and onboard the next 1 billion users?</p>
      </div>
    </div>
  </div>


  <!-- Our Solution -->
  <div class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-template-header">
        <h3>Our Solution</h3>
        <p style="font-size: 22px;">Trust Finance provides simple and real time payroll payment, benefits, and
          transaction tracking for
          businesses and employees (freelancers); thereby helping businesses attract the best talents, customers, and
          business partners.
        </p>
      </div>
      <div class="site-work-detail-page-template-header">
        <p>We believe improving the human interaction layer (UX and coordination) through providing <b>BETTER
            PAYMENT</b>, <b>HR BENEFITS</b>, and <b>ACCOUNTING</b> could help businesses scale.
        </p>
      </div>

      <div class="site-work-template-three-chart" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-template-three-chart-single">
          <p><strong>PAYMENT</strong></p>
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/payment.png"
            alt="PAYMENT">
          <p>We provide easy payroll payments and management for your businesses; reducing gas fee and time.</p>
        </div>
        <div class="site-work-template-three-chart-single">
          <p><strong>BENEFITS</strong></p>
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/benefit.png"
            alt="BENEFITS">
          <p>Attract the best talents through our innovative real time investment matching and yield generation from
            Income.</p>
        </div>
        <div class="site-work-template-three-chart-single">
          <p><strong>ACCOUNTING</strong></p>
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/accounting.png"
            alt="ACCOUNTING" style="width: 33%;">
          <p>Enhance growth and compliance through real time automated transaction tracking, accounting, and reporting.
          </p>
        </div>
      </div>

    </div>
  </div>

  <!-- 01. Research -->
  <div id="01-Research" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500"
  style="background-color:var(--accent-color);">
    <div class="container">

      <div class="site-work-detail-page-template-header">
        <h3>01. Research</h3>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>I. Why Now</h4>
      </div>

      <div class="trust-finance-why-now" data-aos="fade-in" data-aos-duration="1500">
        <div class="trust-finance-why-now__text">
          <div class="trust-finance-why-now__block">
            <p><strong>· Rapid growth in the number of DAOs</strong></p>
            <ul>
              <li>8.8x in # of DAOs</li>
              <li>8.5x in # of proposals</li>
              <li>8.3x in # of votes</li>
              <li>Total Treasury: ~$8.8B in 2022</li>
            </ul>
          </div>
          <div class="trust-finance-why-now__block">
            <p><strong>· Rapid growth in the number of NFT collections</strong></p>
            <ul>
              <li>Daily volume increased 90x from $622M in 2021 to $54.6B in 2022</li>
              <li>Daily active address increased by 65% to 550k</li>
            </ul>
          </div>
          <div class="trust-finance-why-now__block">
            <p><strong>· Growth in talents need in Web3</strong></p>
            <ul>
              <li>Crypto job postings globally went up by 400% in 2021</li>
              <li>1.1 billion freelancers, 31% of total workforce in 2022, with avg. $39K yearly income, represent approx $42.9 trillion market</li>
            </ul>
          </div>
        </div>
        <div class="trust-finance-why-now__chart">
          <img loading="lazy"
            src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/dao-trend.jpg"
            alt="Growth chart showing number of DAOs, NFT collections, and crypto job postings from 2021 to 2022">
        </div>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. Market Drivers and Trend</h4>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Freelancer Economy</b></p>
        <ul>
          <li><span style="font-size: 1.4em; color: #3851FF;">57.3M</span> people in the US are freelancers</li>
          <li>Freelancers in the US contribute <span style="font-size: 1.4em; color: #3851FF;">$1.4 Trillion</span> to the economy every year</li>
          <li><span style="font-size: 1.4em; color: #3851FF;">51%</span> of the US workforce will be freelancers by 2027</li>
        </ul>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Crypto Payments Boom</b></p>
        {{ partial "work/three-stat.html" (dict
          "items" (slice
            (dict
              "type" "chart"
              "src" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/crypto-payment-percentage-01.png"
              "alt" "crypto payment percentage 01"
            )
            (dict
              "type" "chart"
              "src" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/crypto-payment-percentage-02.png"
              "alt" "crypto payment percentage 02"
            )
            (dict
              "type" "text"
              "contentHtml" "Currently <span class=\"site-work-detail-page-template-three-stat__highlight\">2300</span> business accepting crypto"
            )
          )
        ) }}
        <p>Research conducted by SoFi shows <span style="font-size: 1.4em; color: #3851FF;">36%</span> of workers want the ability to receive part or all of their paycheck in
          cryptocurrency, and <span style="font-size: 1.4em; color: #3851FF;">42%</span> would like to receive NFTs as a performance reward.</p>
        <p class="site-work-three-stat-callout">Millennials and freelancer talents are the greatest drivers of payroll crypto payment.</p>
      </div>

    </div>
  </div>

  <!-- Research: Competitive Analysis -->
  <!-- <div class="site-work-detail-page-template site-work-detail-page-template--spaced" data-aos="fade-in"
    data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>III. Competitive Analysis</h4>
        <p>We evaluated the existing crypto payment solutions to identify pain points for further research and potential
          improvement opportunities. We identified opportunities in areas such as: benefits package, batch payment, and
          accounting.</p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/competitive-analysis.png"
          alt="competitive analysis">
      </div>

    </div>
  </div> -->

  <!-- Research: Personas -->
  <div class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>III. Personas</h4>
        <p>I created behavioural personas and an user experience map to provide a digestible means of understanding
          information. These design tools created a shared understanding of customer needs, frustrations and opportunity
          areas and were used to inform design decisions.</p>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Business Users</b></p>
      </div>

      {{ partial "work/two-chart.html" (dict
        "images" (slice
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/persona1.png"
            "alt" "persona 1"
          )
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/persona2.png"
            "alt" "persona 2"
          )
        )
      ) }}

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Personal Users</b></p>
      </div>

      {{ partial "work/two-chart.html" (dict
        "images" (slice
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/persona-template3.png"
            "alt" "persona template 3"
          )
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/persona-template4.png"
            "alt" "persona template 4"
          )
        )
      ) }}

    </div>
  </div>

  <!-- Research: Experience Map -->
  <div class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>IV. Experience Map</h4>
        <p>I developed user experience maps to better visualize the pain points experienced by these personas. The team
          decided to focus specifically on the payment and employees/funds management aspects of the journey; as we
          identified several pain points and opportunities in this space, most notably as below:</p>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Business Users</b></p>
        <ul>
          <li>Slow registration &amp; data breach</li>
          <li>Unable to make mass payments or automated payments</li>
          <li>Lack of integrated accounting platform</li>
        </ul>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/journey-map_business.jpg"
          alt="journey map business">
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Personal Users</b></p>
        <ul>
          <li>Slow registration &amp; data breach</li>
          <li>Slow payment receipt</li>
          <li>Unable to initiate invoices</li>
          <li>Need to transfer crypto to make investment</li>
          <li>Lack of automated benefit calculation tool</li>
        </ul>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/journey-map_personal.jpg"
          alt="journey map personal">
      </div>

    </div>
  </div>

  <!-- 02. Requirements Gathering -->
  <div id="02-Requirements-Gathering" class="site-work-detail-page-template" data-aos="fade-in"
    data-aos-duration="1500" style="background-color:var(--accent-color);">
    <div class="container">

      <div class="site-work-detail-page-template-header">
        <h3>02. Requirements Gathering</h3>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>I. UX Requirements</h4>
        <p>Our team then was engaged to bring the crypto payment solutions for both business users and personal users to
          life. To start, I translated the future state journey map into a screen flow.</p>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Business Users</b> &middot; Login &middot; Authorize Payment &middot; Manage Payment</p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/ux-requirements_business.jpg"
          alt="UX Requirements Business">
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Personal Users</b> &middot; Login &middot; Investment &middot; Benefits &middot; Rewards</p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/ux-requirements_personal.jpg"
          alt="UX Requirements Personal">
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. Functional &amp; Technical Requirements</h4>
        <p>We worked closely alongside all stakeholders to ensure we were aligned and that any impacts to UX based on
          the functional/technical requirements, or vice versa, were communicated clearly. Outputs included:</p>
        <ul>
          <li>Front End (WalletConnect, Coinbase Wallet, Transak)</li>
          <li>API (Superfluid, Chainlink, Aave, Uniswap)</li>
          <li>Smart Contract (Polygon L2 Blockchain)</li>
        </ul>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/technical-requirements-corped.jpg"
          alt="Technical Requirements">
      </div>

    </div>
  </div>

  <!-- 03. Prototyping -->
  <div id="03-Prototyping" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-template-header">
        <h3>03. Prototyping</h3>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>I. Design Principles</h4>
        <p>Before diving into prototyping, we developed design principles based on the needs, pain points and goals of
          customers - uncovered during the Strategy Phase - as well as inspiration from industry leaders and UX best
          practices. These principles provided the basis for design decisions to ensure an intuitive, frictionless and
          flexible experience for users.</p>
      </div>

      {{ partial "work/two-card.html" (dict
        "cards" (slice
          (dict
            "title" "Principle 1: Meet the users' need"
            "text" "Center on improving users' experience, and meeting their needs that we learned from user research with the product."
          )
          (dict
            "title" "Principle 2: Clear hierarchy"
            "text" "Ensures smooth navigation throughout the application with clear information and visual hierarchy."
          )
        )
      ) }}

      {{ partial "work/two-card.html" (dict
        "cards" (slice
          (dict
            "title" "Principle 3: Keep it consistent"
            "text" "Familiar the design to users by sharing some similarities with other payment products they regularly use."
          )
          (dict
            "title" "Principle 4: Less is more"
            "text" "Reduce clutter and keep things simple to focus user's attention and decrease cognitive load."
          )
        )
      ) }}

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/prototype.jpg" alt="prototype">
      </div>

    </div>
  </div>

  <!-- Prototyping: Prototypes & Wireflows -->
  <div class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. Prototypes</h4>
        <p>I created interactive desktop prototype for business users and mobile prototype for personal users, to
          capture the end-to-end flow of the crypto payment solutions, including conditional logic applied to certain
          screens and questions. This helped stakeholders better understand what the customer journey could look like
          and was used to drive design review sessions, test concepts, and gather feedback for continuous iteration.</p>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>III. Wireflows</h4>
        <p>I created several wireflows to illustrate the entry points into the desktop application as well as placement
          points for the crypto payment solutions, including making paying and managing employees for businesses, and
          making investing and invoicing for personal users.</p>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Desktop Onboarding Prototype Wireflow</b> | Scenario: New users access to the application, learn about
          product features, and subscribe</p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/web-registration-onboarding-wireflow.jpg"
          alt="Web Registration and Onboarding Wireflow">
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Business users make payments and manage employees</b></p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/web-business-payment-wireflow.jpg"
          alt="Web Business Payment Wireflow">
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <p><b>Personal users make investment and initiate invoices</b></p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/mobile-personal-prototype-wireflow.jpg"
          alt="Mobile Personal Prototype Wireflow">
      </div>

    </div>
  </div>

  <!-- 04. Detailed Design -->
  <div id="04-Detailed-Design" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500"
    style="background-color:var(--accent-color);">
    <div class="container">

      <div class="site-work-detail-page-template-header">
        <h3>04. Detailed Design</h3>
        <p>Once the wireframes were completed, I worked closely with our frontend engineers and product team to create
          high-fidelity detailed designs for mobile and desktop. These visual designs incorporated our design
          principles.</p>
        <p>We held several design review sessions with the user community to gather feedback and iterate on the
          wireframes and detailed visual designs to ensure that they addressed user needs and also captured information
          required by the businesses and personal users.</p>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>I. Feature Highlights</h4>
      </div>

      {{ partial "work/media-text-block.html" (dict
        "paragraphs" (slice
          "<h4>Business Version</h4>"
          "<b>Make Payment</b> - We provide three types of payment methods to business users - fixed payment, recurring payment, and stream payment."
          "<b>Manage Employees</b> - In the process of making recurring payment or stream payment, user can add, edit or delete employees at any time."
          "<b>Accounting</b> - Allowing customers to view and manage their crypto income, expenses, and percentage clearly."
        )
        "imageSrc" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/feature-highlights2.png"
        "imageAlt" "feature highlights business"
        "insertBreakBetweenParagraphs" true
        "reverse" true
      ) }}

      {{ partial "work/media-text-block.html" (dict
        "paragraphs" (slice
          "<h4>Personal Version</h4>"
          "<b>Make Investment</b> - By cooperating with various DeFi protocols such as Compound and Aave, the product ensures the user can make payment directly via the investment panel."
          "<b>Initiate Invoices</b> - Personal users can initiate invoices themselves to their employers, enabling an efficient payment communication."
        )
        "imageSrc" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/feature-highlights1.png"
        "imageAlt" "feature highlights personal"
        "insertBreakBetweenParagraphs" true
      ) }}

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. Demo Videos</h4>
      </div>

      {{ partial "work/two-video-embed.html" (dict
        "videos" (slice
          (dict
            "src" "https://www.youtube.com/embed/aRVrHcDsfGs?autoplay=1"
            "title" "Trust Finance Business Version Demo"
            "author" "Trust Finance Team"
            "desc" "Business version demo developed during ETH Global HackMoney."
            "thumb" "https://img.youtube.com/vi/aRVrHcDsfGs/maxresdefault.jpg"
            "alt" "Trust Finance Business Version Demo"
            "overlayTitle" "Business Version Demo"
            "introHtml" "<b>Business Version</b> developed during ETH Global HackMoney"
          )
          (dict
            "src" "https://www.youtube.com/embed/o6dQC0WZObE?autoplay=1"
            "title" "Trust Finance Personal Version Demo"
            "author" "Trust Finance Team"
            "desc" "Personal version demo developed during ETH NYC Hackathon."
            "thumb" "https://img.youtube.com/vi/o6dQC0WZObE/maxresdefault.jpg"
            "alt" "Trust Finance Personal Version Demo"
            "overlayTitle" "Personal Version Demo"
            "introHtml" "<b>Personal Version</b> developed during ETH NYC Hackathon"
          )
        )
      ) }}

    </div>
  </div>
  {{ partial "work/video-modal.html" . }}

  <!-- 05. Product Development -->
  <div id="05-Product-Development" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-template-header">
        <h3>05. Product Development</h3>
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>I. Customer Acquisition</h4>
        <p>We focus on DeFi, NFT, and DAO projects looking to scale and attract talents to contribute in their
          ecosystem. Customer acquisition comes from two sources:</p>
      </div>

      {{ partial "work/two-text.html" (dict
        "class" "site-work-detail-page-template-two-text--subsection"
        "columns" (slice
          (dict
            "title" "Partnerships & Referral Program"
            "listItems" (slice
              "Ecosystem Partnerships: Polygon, SuperFluid, Chainlink"
              "Supporting NFT and DAO projects: PrimeDAO, MakerDAO"
              "Participation in hackathons and Crypto events: ETH Global, Permissionless, Consensus"
              "Business and Personal user referral program"
            )
          )
          (dict
            "title" "Online & Offline Channels"
            "listItems" (slice
              "Email Marketing"
              "Online campaigns on LinkedIn, Google Adwords, Instagram"
              "Brand advertising and content marketing"
              "Events (Webinars, AMAs)"
            )
          )
        )
      ) }}

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. Revenue Model</h4>
      </div>

      {{ partial "work/two-chart.html" (dict
        "images" (slice
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/revenue-model.jpg"
            "alt" "revenue model"
          )
          (dict
            "src" "https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/cost-model.jpg"
            "alt" "cost model"
          )
        )
      ) }}

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>III. Product Roadmap</h4>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/roadmap.jpg" alt="product roadmap">
      </div>

    </div>
  </div>

  <!-- 06. Impact & Reflections -->
  <div id="06-Impact-Reflections" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">
      <div class="site-work-detail-page-template-header">
        <h3>06. Impact &amp; Reflections</h3>
      </div>

      <div class="site-work-detail-page-template-two-text" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-template-two-text-col">
          <h4>I. Impact</h4>
          <p>Trust Finance provides <b>simple and real time payroll payment, benefits, and transaction tracking</b> for
            businesses and employees (freelancers); thereby helping businesses attract the best talents, customers, and
            business partners.</p>
          <p class="mt-4">By improving the human interaction layer (UX and coordination) through providing better
            payment, benefit, and accounting, the application could <b>help businesses scale and onboard the next 1
              billion web3 residents.</b></p>
        </div>
        <div class="site-work-detail-page-template-two-text-col">
          <h4>II. Reflections</h4>
          <p>This was one of the personally most impactful projects for me for two main reasons:</p>
          <p class="mt-4">First, this is the first project where I've been involved as both a designer and a CoFounder
            at the same time. I not only participated in product design, UX design and UI design of the application, but
            also looked at its user acquisition, market potential, and roadmap from a startup founder's point of view.
            I've talked to over twenty VCs about the product, and worked with the team to define and redefine its
            capabilities in countless internal meetings and user interviews, which gives me a valuable ability to think
            globally and to decipher the details.</p>
          <p class="mt-4">Second, finance used to be an area I wasn't very familiar with. However, the best
            cross-functional team taught each other skills from our respective areas of expertise. We each brought
            different skills to the table: UX/UI design (myself), finance and product (Quadri), smart contract (Chilo
            and Phidel), frontend engineering (Prateek). This experience affirmed my belief that teams produce the best
            work when they exchange skills and perspectives and immerse themselves in each other's work, rather than
            working in silos.</p>
        </div>
      </div>

    </div>
  </div>

  {{ partial "work/collaboration-meta.html" (dict
    "collaborators" "Quadri Oguntade (Market and Product); Chilo Nwokolo (Frontend and Smart Contract); Prateek Pradhan (Frontend); Phidel Musungu (Backend and Smart Contract)"
  ) }}

</section>

{{ end }}
