{{ define "main" }}

{{ partial "accent-color-style.html" . }}

<section class="site-work-header" data-aos="fade-in" data-aos-duration="1500">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="site-work-header-title"><a href="https://www.trustfin.xyz/" target="_blank">Trust Finance</a></h3>
        <p class="site-work-header-project-desc"><a
            href="https://ethglobal.com/showcase/trust-finance-vqk0h" target="_blank">ETH Global
            Superfluid Best Overall Prize</a>, Polygon Hackathon Runner Up Prize</p>
        <p class="site-work-header-role">Role: Co-Founder, Product Manager, UX/ UI Designer</p>
      </div>
    </div>
  </div>
</section>

<!-- <div class="site-work-divider"></div> -->

<section class="site-work-detail">

  <div class="site-work-detail-front" data-aos="fade-in" data-aos-duration="1500"
    style="background-image:url('https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/title-page2.jpg') ;">
    <div class="site-work-detail-front-info">
      <div class="site-work-detail-front-info-box">
        <row>
          <div class="site-work-detail-front-info-title" data-aos="fade-in" data-aos-duration="1500">
            <h3 style="color: #9DA9B9;">Trust Finance</h3>
          </div>
        </row>
        <row>
          <div class="site-work-detail-front-info-content" data-aos="fade-in" data-aos-duration="1500">
            <p style="color: #9DA9B9;">Enabling Simple and Real Time Payments, HR Benefits, and Accounting for Crypto
              Businesses and Personal Users.</p>
          </div>
        </row>
        <row>
          <div class="site-work-detail-front-info-btn" data-aos="fade-in" data-aos-duration="1500">
            <div class="trust-finance-blue">
              <a href="#problem-space" class="btn btn-primary" style="color: #9DA9B9;">Learn More</a>
            </div>
          </div>
        </row>
      </div>
    </div>
  </div>

  <div id="problem-space" class="site-work-detail-page" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">
      <div class="site-work-detail-page-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>Problem Space</h3>
        <p>Businesses and employees face lots of friction when trying to make payroll payments, invest, or track
          transactions using crypto.
        </p>
      </div>

      <div class="site-work-template-two-card" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-template-two-card-card">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/employee.png"
            alt="employee">
          <h4>Businesses</h4>
          <ul>
            <li><strong>Paying salaries in crypto can be time consuming.</strong> DAO and crypto startups founders have
              to make individual payments to team members from their own wallet in a process that can take hours.</li>
            <br>
            <li><strong>There’s no cohesive audit trail</strong> if you’re a crypto company. Crypto transactions can
              span a dozen different wallets or products.</li>
          </ul>
        </div>
        <div class="site-work-template-two-card-card">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/business.png"
            alt="business" style="width: 16%">
          <h4>Employees</h4>
          <ul>
            <li><strong>Moving income to investment accounts takes between 4 - 7 days</strong> for funds to be available
              for investment.</li>
            <br>
            <li><strong>It is impossible for employees to manage and configure their investment asset</strong> (savings,
              investment or retirement accounts - 401k or IRA) in real time.</li>
          </ul>
        </div>
      </div>

      <div class="site-work-detail-page-more" data-aos="fade-in" data-aos-duration="1500">
        <p>What will it take for DAO, NFT, and DeFi businesses to scale and onboard the next 1 billion users?</p>
      </div>
    </div>
  </div>


  <div id="01-Research" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-template-header">
        <h3>Our Solution</h3>
        <p style="font-size: 22px;">Trust Finance provides simple and real time payroll payment, benefits, and
          transaction tracking for
          businesses and employees (freelancers); thereby helping businesses attract the best talents, customers, and
          business partners.
        </p>
      </div>
      <div class="site-work-detail-page-template-header">
        <p>We believe improving the human interaction layer (UX and coordination) through providing <b>BETTER
            PAYMENT</b>, <b>HR BENEFITS</b>, and <b>ACCOUNTING</b> could help businesses scale.
        </p>
      </div>
      
      <div class="site-work-template-three-chart" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-template-three-chart-single">
          <p><strong>PAYMENT</strong></p>
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/payment.png"
            alt="PAYMENT">
          <p>We provide easy payroll payments and management for your businesses; reducing gas fee and time.</p>
        </div>
        <div class="site-work-template-three-chart-single">
          <p><strong>BENEFITS</strong></p>
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/benefit.png"
            alt="BENEFITS">
          <p>Attract the best talents through our innovative real time investment matching and yield generation from
            Income.</p>
        </div>
        <div class="site-work-template-three-chart-single">
          <p><strong>ACCOUNTING</strong></p>
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/trust-finance/compressed/accounting.png"
            alt="ACCOUNTING" style="width: 33%;">
          <p>Enhance growth and compliance through real time automated transaction tracking, accounting, and reporting.
          </p>
        </div>
      </div>


    </div>
  </div>

  <div id="01-Research" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500"
    style="background-color:var(--accent-color);">
    <div class="container">

      <div class="site-work-detail-page-template-header">
        <h3>01. Research <span style="color: red;">TODO</span></h3>
        <h4>I. User Survey</h4>
        <p>To start, I conducted user research with the UX team through participatory, qualitative, and quantitative
          methods to enable understanding of the context as well as the users’ needs. We co-created the user survey and
          sent it widely to collect useful data, from which we learned about basic information, investment habits, needs
          and pain points of our target users.
        </p>
      </div>


      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/user-interview.jpg"
          alt="User Interview">
      </div>

    </div>
  </div>


  <div id="02-User-Research-2" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500"
    style="margin-top: 5%;">
    <div class="container">

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>III. Persona</h4>
        <p>Based on the interviews, I came up with a typical persona to abstract users' investment goals and needs, as
          well as their current fears and pain points using existing investment methods.</p>
      </div>

      <div class="site-work-detail-page-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/persona-01.jpg"
          alt="persona-01">
      </div>

      <div class="site-work-detail-page-template-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>IV. Experience Map</h4>
        <p>I also created an experience map to provide a digestible means of understanding information from interviews,
          which created a shared understanding with stakeholders of customer needs and pains, feelings and opportunity
          areas and were used to inform design decisions.</p>
      </div>

      <div class="site-work-detail-page-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/experience-map.jpg"
          alt="experience-map">
      </div>

    </div>
  </div>

  <div id="03-Ideation" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-template-header">
        <h3>03. Ideation</h3>
      </div>

      <div class="site-work-detail-page-template-chart-with-content" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-template-chart-with-content-text" data-aos="fade-in" data-aos-duration="1500">
          <h4>I. Storyboard</h4>
          <br>
          <p>I considered different use cases of our platform. Thinking through the users' needs and painpoints, I
            developed a storyboard to show what the possible improved user journey could be, and how users interact with
            various touchpoints in an user-friendly way.</p>
        </div>
        <div class="site-work-detail-page-template-chart-with-content-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/storyboard-01.jpg"
            alt="storyboard-01">
        </div>
      </div>

      <div class="site-work-detail-page-template-chart-with-content" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-template-chart-with-content-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/prioritization.jpg"
            alt="prioritization">
        </div>
        <div class="site-work-detail-page-template-chart-with-content-text" data-aos="fade-in" data-aos-duration="1500">
          <h4>II. Prioritization</h4>
          <br>
          <p>I then discussed with stakeholders and narrowed down the design scope. We agreed to focus first on designs
            that allow users to subscribe models and use the projection function of the platform.</p>
          <p>I listed improvements that the new design made, to make sure everyone is on the same page.</p>
        </div>
      </div>

    </div>
  </div>



  <div id="04-Wireframing" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">
      <div class="site-work-detail-page-template-header">
        <h3>04. Wireframing</h3>
        <p>In the Design Phase, we created wireframes for focused features. I was responsible for planning the design
          workshops, creating wireframes of the projection function, and facilitating discussions with stakeholders to
          co-create and validate the designs. I played a lead role in managing decisions around the functional
          requirements.</p>
        <p>For the projection function, I made two possible options. The main difference between them is whether or not
          the technical reasons (matches) for the projection are included. After discussing with stakeholders, we agree
          that it would be better to include it as an advanced result for experienced users.</p>
      </div>


      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <p><b>option 1</b>: "matches" as an optional function</p>
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/wireframe-opt1.jpg"
          alt="wireframe-opt1">
      </div>

    </div>
    <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
      <p><b>option 2 (chosen)</b>: "matches" as advanced results</p>
      <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/wireframe-opt1.jpg"
        alt="wireframe-opt1">
    </div>
  </div>

  <div id="05-MVP-Design" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">
      <div class="site-work-detail-page-template-header">
        <h3>05. MVP Design</h3>
        <p>Once wireframes were validated, I developed high-fidelity prototypes that incorporated the UI design of the
          existing Armadillo platform to provide visual direction to our build team.</p>
        <h4>I. Design System</h4>
        <p>First, I made a design system to define stardards to adher and create our brand's identity.
        </p>
      </div>

      <div class="site-work-detail-page-template-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/design-system.jpg"
          alt="design-system">
      </div>

      <div class="site-work-detail-page-template-header">
        <h4>II. High-fidelity Designs</h4>
        <p>Incorporating the design system, I created high-fidelity interactive prototypes and worked closely with
          stakeholders to assess the feasibility of each feature. I developed a Minimum Viable Product (MVP) to work
          towards as well as additional concepts for future consideration.</p>
      </div>

      <div class="site-work-detail-page-template-two-chart" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-template-two-chart-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design1.jpg"
            alt="hf-design1">
          <p><b>Watchlist</b> - Indicators are filtered by attributes. Users can easily search indicators they want to
            monitor from the watch list and make projections. Analysts' opinions are concluded as simple and clear
            textual suggestions.</p>
        </div>
        <div class="site-work-detail-page-template-two-chart-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design2.jpg"
            alt="hf-design2">
          <p><b>Projection</b> - The projection length could be change by the slider. By changing the length, investors
            learn the predicted future trend fo indicators. History Return Uncertainty and Future Projected Return will
            be explained by clicking question marks.</p>
        </div>
      </div>

      <div class="site-work-detail-page-template-two-chart" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-template-two-chart-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design3.jpg"
            alt="hf-design3">
          <p><b>Historical Matches</b> - By clicking on the colored line on the main chart, the date that matches in
            history is highlighted on Historical Matches, from which investors can clearly see the price trend in the
            history.</p>
        </div>
        <div class="site-work-detail-page-template-two-chart-img" data-aos="fade-in" data-aos-duration="1500">
        </div>
      </div>

      <div class="site-work-detail-page-template-two-chart" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-template-two-chart-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design4.jpg"
            alt="hf-design4">
          <p><b>Indicator Matches</b> - Indicators matches show matching condition of a single indicator in the history.
            The historical matches are results of matches overlapped by weighed indicator matches.</p>
        </div>
        <div class="site-work-detail-page-template-two-chart-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/compressed/hf-design5.jpg"
            alt="hf-design5">
          <p><b>Indicator Matches Scroll Down</b> - The historical price chart is fixed. By scrolling down, users can
            see more indicator matches.</p>
        </div>
      </div>

      <div class="site-work-detail-page-template-header">
        <h4>III. Product Handoff</h4>
      </div>

      <div class="site-work-detail-page-template-chart-with-content" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-template-chart-with-content-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.com/images/ux-web3/armadillo/handoff/handoff.gif" alt="handoff">
        </div>
        <div class="site-work-detail-page-template-chart-with-content-text" data-aos="fade-in" data-aos-duration="1500">
          <p>After user testing and iterating, I improved the design and features based on users' feedbacks received.
            Three UI design groups also aligned design details at this stage. Then I submitted the final design handoff
            to stakeholders.</p>
        </div>
      </div>

    </div>
  </div>


  <div id="06-Impact-Reflections" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">
      <div class="site-work-detail-page-template-header">
        <h3>06. Impact & Reflections</h3>
      </div>

      <div class="site-work-detail-page-template-chart-with-content" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-template-chart-with-content-text" data-aos="fade-in" data-aos-duration="1500">
          <h4>I. Impact</h4>
          <br>
          <p>Trust Finance provides <b>simple and real time payroll payment, benefits, and transaction tracking</b> for
            businesses and employees (freelancers); thereby helping businesses attract the best talents, customers, and
            business partners. </p>
          <br>
          <p>By improving the human interaction layer (UX and coordination) through providing better payment, benefit,
            and accounting, the application could <b>help businesses scale and onboard the next 1 billion web3
              residents.</b></p>
        </div>
        <div class="site-work-detail-page-template-chart-with-content-text" data-aos="fade-in" data-aos-duration="1500">
          <h4>II. Reflections</h4>
          <br>
          <p>This was one of the personally most impactful projects for me for two main reasons:</p>
          <br>
          <p>First, this is the first project where I've been involved as both a designer and a CoFounder at the same
            time. I not only participated in product design, UX design and UI design of the application, but also looked
            at its user acquisition, market potential, and roadmap from a startup founder's point of view. I've talked
            to over twenty VCs about the product, and worked with the team to define and redefine its capabilities in
            countless internal meetings and user interviews, which gives me a valuable ability to think globally and to
            decipher the details.</p>
          <br>
          <p>
            Second, finance used to be an area I wasn't very familiar with. However, the best cross-functional team
            taught each other skills from our respective areas of expertise. We each brought different skills to the
            table: UX/UI design (myself), finance and product (Quadri), smart contract (Chilo and Phidel), frontend
            engineering (Prateek). This experience affirmed my belief that teams produce the best work when they
            exchange skills and perspectives and immerse themselves in each other’s work, rather than working in silos.
          </p>
        </div>
      </div>
    </div>



  </div>

</section>




{{ end }}