<div class="video-modal" id="videoModal">
  <div class="video-modal-top">
    <button class="video-modal-close" aria-label="Close">&times;</button>
  </div>
  <div class="video-modal-body">
    <div class="video-modal-player">
      <div class="video-modal-iframe-wrap">
        <iframe id="videoModalIframe" src="about:blank" title="Video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    <div class="video-modal-info">
      <h3 class="video-modal-title"></h3>
      <p class="video-modal-author"></p>
      <p class="video-modal-desc"></p>
    </div>
  </div>
  <div class="video-modal-thumbs" id="videoModalThumbs">
  </div>
</div>
