.site-contact{
  padding: 150px 0 100px;
  background: $gray;
  @include mobile{
    padding: 120px 0 100px;
  }

  &-intro{

    padding: 150px 0 0;
    @include mobile{
      padding: 100px 0 0;
    }
    padding-bottom: 20px;

    &-header{
      h2{
        font-size:35px;
        line-height:1.5em;
      }
      a{
        color: black;
      }
      p {
        line-height:1.9em;
        letter-spacing:0.01em;
        margin-bottom: 0;
        margin-top: 20px;
        width: 80%;
      }
    }

  }

  &-text{
    color: black;
    margin-top: 20px;
    p{
      font-family: Arial, Helvetica, sans-serif;
      font-size:20px;
      line-height: 1.5em;
      letter-spacing:0.01em;
      margin-bottom: 0;
      color: gray;
    }
  }

  &-divider{
    margin: 30px 0;
    border-bottom: 2px solid $gray;
  }




  &-content{

    margin-top: 50px;
    display: flex;

    &-potrait{

      width: 100%;
      display: flex; /* 使用 Flexbox 布局 */



      img {
        margin-left: auto; /* 将图像向右对齐 */
        width: 80%;
        @include mobile{
          width: 100%;
        }
      }

    }

    &-info {
      padding-top: 20px;
      padding-left: 5%;
    }

    &-text{
      // border: 2px solid black;
      color: black;
      p {
        color: black;
      }

      a{
        color: black;
        text-decoration: underline;
        transition: text-shadow 0.3s; /* 过渡效果，使变化更平滑 */
      }
      a:hover {
        text-shadow: 0 0 10px yellow; /* 悬停时的荧光阴影效果 */
      }
    }

    &-more{
      margin-top: 40px;
      max-width: 75%;
    }

    // &-form{
    //   border: 1px solid black;
    //   margin-top: 30px;
    //   padding: 20px; /* 增加内边距 */
    //   width: 100%;
    //   h4{
    //     font-weight: 300;
    //     text-transform: uppercase;
    //     margin-bottom: 50px;
    //     letter-spacing: 3px;
    //     @include tablet{
    //       font-size: 20px;
    //     }
    //     @include desktop{
    //       margin-bottom: 70px;
    //     }
    //   }
    // }
    

  }


}

