.site-footer{
  // background: $secondary-color;
  padding: 35px 0;

  &-copyright{

    margin: 10px auto 0;

    p{
      color: $dark-gray;
      text-align: center;
    }
    a{
      color: $dark-gray;
      transition: all .3s ease;
      // @include tablet{
      //   font-size: 20px;
      // }
      @include desktop{
        margin-bottom: 70px;
      }
    }
  }

  &-social{

    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icons{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul{
      padding-left: 0;
    }

    li{
      text-align: center;
      list-style: none;
    }
    a{
      font-size: 30px;
      color: black;
    }
    a:hover{
      text-decoration: none;
    }
  }
}