.site-navigation{
  padding: 20px 0;
  background: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  @include desktop{
    margin: 10px;
    border-radius: 5px;
    top: 0;
    width: calc(100% - 20px);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
  }
  @include mobile{
    padding: 15px;
  }
  .navbar-brand{
    padding: 0;
    margin: 0;
    img{
      max-width: 78px;
    }
    .logo-text{
      color: $text-color-dark;
    }
  }
  .nav-item{
    @include desktop{
      text-align: center;
    }
    .nav-link{
      display: flex;
      align-items: center;
      font-family: $secondary-font;
      color: $text-color-dark;
      transition: all .3s ease;
      padding: 15px 18px;
      position: relative;
    }
    .has-dropdown-icon {
      margin-left: 2px;
      transition: transform 0.3s ease;

      @include mobile{
        display: inline-block;
        margin-left: 4px;
        font-size: 0.75em;
      }
    }

    // 移动端下拉箭头旋转
    &.has-dropdown.open .has-dropdown-icon {
      @include mobile{
        transform: rotate(180deg);
      }
    }

    .nav-dropdown {
      display: none;
      position: absolute;
      background-color: $white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  
      .nav-link {
        color: $text-color-dark;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
        &:hover {
          background-color: $gray;
        }
      }
    }

    // 桌面端 hover 展开
    &:hover {
      .nav-dropdown {
        display: block;
      }
    }

    @include mobile {
      .nav-dropdown {
        text-align: left;
        padding-left: 5%;
        position: static;
        display: none;
        flex-wrap: wrap;
        border: none;
        box-shadow: none;
        z-index: 0;

        .nav-link {
          color: $dark-gray;
        }
      }

      // 移动端禁用 hover，仅通过点击展开
      &:hover .nav-dropdown {
        display: none;
      }

      // 移动端点击展开（优先级最高，放最后）
      &.has-dropdown.open .nav-dropdown {
        display: flex;
      }
    }

  }
  .navbar-toggler{
    outline: 0;
    padding: 0;
    .icon-bar {
      height: 2px;
      width: 25px;
      transition: all 0.2s;
      background: $primary-color;
      display: block;
      &:not(:last-child){
        margin-bottom: 5px;
      }
      &:nth-child(1){
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }
    &.collapsed{
      .icon-bar{
        &:nth-child(1){
          transform: rotate(0);
        }
        &:nth-child(2){
          opacity: 1;
        }
        &:nth-child(3){
          transform: rotate(0);
        }
      }
    }
  }
  &.nav-bg{
    padding: 12px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
    @include mobile{
      padding: 15px;
    }
  }
}
