.site-work {

  &-header {
    padding: 150px 0 0;

    @include mobile {
      // padding: 100px 0 0;
      display: none;
    }

    margin-bottom: 20px;

    &-title {
      margin-bottom: 20px;

      a {
        text-decoration: underline;
      }
    }
    
    &-project-desc {

      p {
        color: black;
      }

      a {
        color: $text-color !important;
        text-decoration: underline;
      }


    }

    &-disclaimer {
      font-family: $myriad-font;
      font-size: 12px;
    }

    p {
      font-family: $myriad-font;
      line-height: 1.5em;
      letter-spacing: 0.01em;
    }

    a {
      color: black;
      transition: all 0.3s ease; // 添加过渡效果，使颜色变化和其他变化更平滑
      color: initial; // 初始颜色
      transform: scale(1); // 初始缩放比例
      box-shadow: none; // 初始阴影

      &:hover {
        transform: scale(1.05); // 鼠标悬停时稍微放大
        opacity: 0.6; // 鼠标悬停时透明度降低
      }
    }
  }

  &-detail {

    margin-bottom: 50px;


    &-page {
      min-height: 940px;
      height: auto;
      background-color: $design-purple;

      @include mobile {
        height: auto;
        min-height: 640px;
      }

      &-header {

        padding-top: 6%;
        padding-bottom: 2%;


        h3 {
          font-family: $myriad-font;
          text-align: center;
          color: white;
          font-size: 38px;
          margin-top: 50px;
          padding-bottom: 30px;

          @include mobile {
            margin-top: 70px;
            font-size: 26px;
          }
        }

        h3::after {
          content: '';
          display: block;
          width: 50px;
          height: 2px;
          background-color: #FFFFFF;
          margin: 10px auto 0;
        }

        p {
          font-family: $myriad-font;
          font-size: 18px;
          text-align: center;
          color: white;

          @include mobile {
            font-size: 14px;
          }
        }
      }

      &-chart {
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 3%;
        img {
          width: 100%;
        }
      }

      &-more {
        padding: 3%;
        // margin-top: 3%;

        p {
          font-family: $myriad-font;
          font-size: 24px;
          text-align: center;
          color: white;

          @include mobile {
            font-size: 18px;
          }
        }
      }
    }


    &-page-template {
      height: auto;
      padding-left: 10%;
      padding-right: 10%;
      background-color: white;

      @include mobile {
        padding-left: 5%;
        padding-right: 5%;
      }

      &-header {

        padding: 10px;
        margin-top: 5%;

        h3 {
          font-family: $myriad-font;
          text-align: center;
          color: black;
          font-size: 30px;
          margin-top: 50px;
          padding-bottom: 30px;

          @include mobile {
            margin-top: 70px;
            // font-size: 22px;
          }
        }

        h4 {
          margin-bottom: 20px;
          font-family: $myriad-font;
          color: black;

        }

        h3::after {
          content: '';
          display: block;
          width: 50px;
          height: 2px;
          background-color: black;
          margin: 10px auto 0;
        }

        p {
          font-family: $myriad-font;
          font-size: 18px;
          text-align: left;
          color: black;

          @include mobile {
            font-size: 14px;
          }
        }
      }

      &-chart {
        padding: 3%;

        p {
          font-family: $myriad-font;
          color: black;
        }

        img {
          width: 100%;

          @include mobile {
            margin-bottom: 5%;
          }
        }
      }

      &-chart-with-content {

        display: flex;
        padding-top: 2%;
        padding-bottom: 2%;

        /* 移动端样式 */
        @include mobile {
          flex-direction: column;
        }

        &-img {

          width: 200%;

          /* 移动端样式 */
          @include mobile {
            width: 100%;
          }

          img {
            width: 98%;
            // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),              /* 下方阴影 */
            //   0 -4px 8px rgba(0, 0, 0, 0.1); /* 上方阴影 */
            height: auto;
          }
        }

        &-text {
          padding-left: 2%;
          padding-right: 2%;
          padding-top: 10%;
          max-width: 50%;

          @include mobile {
            max-width: 100%;
          }

          ul {
            font-family: $myriad-font;
            color: black;
          }

          p {
            font-family: $myriad-font;
            color: black;
            // font-weight: bold;
          }

          li {
            font-family: $myriad-font;
            color: black;
            line-height: 1.5em;
            padding-bottom: 20px;
          }
        }

      }

      &-two-chart {

        display: flex;
        padding: 1%;

        /* 移动端样式 */
        @include mobile {
          flex-direction: column;
        }

        &-img {

          width: 100%;
          padding: 2%;

          /* 移动端样式 */
          @include mobile {
            width: 100%;
          }

          img {
            width: 95%;
            // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
            /* 下方阴影 */
            // 0 -4px 8px rgba(0, 0, 0, 0.1);
            /* 上方阴影 */
            height: auto;

            @include mobile {
              margin-top: 2%;
              margin-bottom: 2%;
            }
          }

          p {
            margin-top: 2%;
            width: 95%;
            font-family: $myriad-font;
            color: black;
            font-size: 14px;
          }
        }

      }

      &-more {
        padding: 5%;
        margin-top: 5%;

        p {
          font-family: $myriad-font;
          font-size: 24px;
          text-align: center;
          color: black;

          @include mobile {
            font-size: 18px;
          }
        }
      }
    }



    &-front {

      height: 920px;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      background-position: center;

      @include mobile {
        height: 600px;
        background-attachment: scroll; // fixed 在 iOS Safari 不支持
      }

      &-info {
        display: grid;
        min-height: 500px;
        margin-top: 5%;
        margin-left: 18%;
        width: auto;

        @include mobile {
          margin-top: 15%;
          margin-left: 10%;
        }

        &-box {
          box-shadow: 0 2px 4px rgba(41, 40, 40, 0.2);
          // border: 1px solid #ccc;
          width: 48%;
          margin-top: 15%;
          max-height: 52%;
          background-color: white;


          @include mobile {
            width: 90%;
            max-height: 70%;
          }

        }

        &-title {
          margin-top: 15%;

          h3 {
            font-family: $myriad-font;
            color: rgb(202, 193, 210);
            text-align: center;
            // text-emphasis: bold;
            font-size: 32px;
          }

        }

        &-content {

          margin-top: 5%;
          padding-left: 10%;
          padding-right: 10%;

          @include mobile {
            padding-left: 2%;
            padding-right: 2%;
          }

          p {
            font-family: $myriad-font;
            color: rgb(202, 193, 210);
            text-align: center;
            padding: 20px;
            font-size: 18px;
            line-height: 1.5em;
            letter-spacing: 0.01em;
          }
        }

        &-btn {
          margin-top: 5%;
          display: flex;
          justify-content: center;

          a {
            font-family: $myriad-font;
            text-align: center;
            font-size: 16px;
            padding: 10px 50px; // 调整内部空间
            background-color: rgb(202, 193, 210);
            border: 1px solid rgb(202, 193, 210);
            transition: all 0.3s ease;
          }

          a:hover {
            background-color: white;
            color: rgb(202, 193, 210) !important;
            border: 1px solid rgb(202, 193, 210);
          }


          .trust-finance-blue {
            a {
              background-color: $trust-finance-blue;
              border: 1px solid $trust-finance-blue;
            }

            a:hover {
              background-color: white;
              color: $trust-finance-blue !important;
              border: 1px solid $trust-finance-blue;
            }
          }


        }

      }

    }
  }
}