.site-work{



  &-intro{

    padding: 150px 0 0;
    @include mobile{
      padding: 100px 0 0;
    }
    padding-bottom: 20px;

    &-link{
      h2{
        font-size:35px;
        line-height:1.5em;
      }
      a{
        color: black;
      }
    }

    &-content{
      margin-top: 20px;
      p{
        line-height:1.9em;
        font-size:20px;
        line-height: 1.5em;
        letter-spacing:0.01em;
        margin-bottom: 0;
        color: black;
      }
    }

  }

  &-divider{
    margin: 50px 0;
    border-bottom: 2px solid $gray;
  }

  &-works{

    margin-bottom: 50px;

    &-image-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    &-image-item {
      position: relative;
      width: calc(50% - 10px); // 考虑到间距，调整宽度
      height: auto;
      padding-left: 10px; 
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;
      @include mobile{
        flex: 1 0 auto;
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
      }

      &:hover {
        .site-work-works-image-item-mask::after {
          opacity: 1;
        }

        .site-work-works-image-item-title {
          visibility: visible;
          opacity: 1;
        }
      }
      img {
        width: 100%;
        display: block;
      }

      &-mask {
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          opacity: 0;
          transition: opacity 0.5s ease;
          pointer-events: none;
        }
      }      

      &-title {
        width: 95%;
        font-size: 28px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease, visibility 0.5s ease;
      }
    }
  }
}