{{ define "main" }}

<section class="site-work-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="site-work-header-title">Armadillo</h3>
          <p class="site-work-header-desc">Company Cooperation Project</p>
          <p class="site-work-header-role">Role: UX/ UI Designer</p>
          <p class="site-work-header-disclaimer">Disclaimer: To comply with NDA, I have obfused confidential information in this case study. All information in this case study is my own and does not necessarily reflect the views of Armadillo.</p>
        </div>
      </div>
    </div>
  </section>

<!-- <div class="site-work-divider"></div> -->

<section class="site-work-detail">
    <div class="site-work-detail-front" style="background-image:url('https://cdn.celiasy.xyz/images/ux-web3/armadillo/front%20page.jpg') ;">
      <div class="site-work-detail-front-info">
        <!-- <div class="site-work-detail-front-info-box">
          <div class="site-work-detail-front-info-title">Armadillo</div>
          <div class="site-work-detail-front-info-content">Armadillo provides retail investors with better analytical information, and helps them make good investment decisions.</div>
        </div> -->
      </div>
    </div>
  </div>

</section>


{{ end }}