{{ define "main" }}

<section class="site-work-header" data-aos="fade-in" data-aos-duration="1500">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="site-work-header-title">Armadillo</h3>
        <p class="site-work-header-desc">Company Cooperation Project</p>
        <p class="site-work-header-role">Role: UX/ UI Designer</p>
        <p class="site-work-header-disclaimer">Disclaimer: To comply with NDA, I have obfused confidential information
          in this case study. All information in this case study is my own and does not necessarily reflect the views of
          Armadillo.</p>
      </div>
    </div>
  </div>
</section>

<!-- <div class="site-work-divider"></div> -->

<section class="site-work-detail">
  <div class="site-work-detail-front" data-aos="fade-in" data-aos-duration="1500"
    style="background-image:url('https://cdn.celiasy.xyz/images/ux-web3/armadillo/front%20page.jpg') ;">
    <div class="site-work-detail-front-info">
      <div class="site-work-detail-front-info-box">
        <row>
          <div class="site-work-detail-front-info-title" data-aos="fade-in" data-aos-duration="1500">
            <h3>Armadillo</h3>
          </div>
        </row>
        <row>
          <div class="site-work-detail-front-info-content" data-aos="fade-in" data-aos-duration="1500">
            <p>Armadillo provides retail investors with better analytical information, and helps them make good
              investment decisions.</p>
          </div>
        </row>
        <row>
          <div class="site-work-detail-front-info-btn" data-aos="fade-in" data-aos-duration="1500"><a
              href="#problem-space" class="btn btn-primary">Learn More</a>
          </div>
        </row>
      </div>
    </div>
  </div>
  </div>

  <div id="problem-space" class="site-work-detail-page" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">
      <div class="site-work-detail-page-header" data-aos="fade-in" data-aos-duration="1500">
        <h3>Problem Space</h3>
        <p>As growing retail investors flood the market, investors need better analytics more than ever. However, more
          than half of retail investors are NOT satisfied with the existing insights and research provided by
          brokerages.
        </p>
      </div>

      <div class="site-work-detail-page-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/problem%20space.png"
          alt="problem space">
      </div>

      <div class="site-work-detail-page-more" data-aos="fade-in" data-aos-duration="1500">
        <p>How might we provide a platform that enables retail investors to gain more effective analytical information
          and make better investment decisions?</p>
      </div>
    </div>
  </div>


  <div id="01-Research" class="site-work-detail-page-white-bg" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <div class="site-work-detail-page-white-bg-header">
        <h3>01. Research</h3>
        <h4>I. Background Research</h4>
        <p>To better understand the addressed problem and have a macro view of the market, I did a background research
          first based on these questions brought by stakeholders: Why are we doing this for the market? Why are we the
          best to do this? How much impact would we have? How many potential target users would we get?
        </p>
      </div>

      <div class="site-work-detail-page-white-bg-chart-with-content" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-white-bg-chart-with-content-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy"
            src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/compressed/Armadillo%20Web%20-%20Copy%20of%20desk%20research%20presentation.jpg"
            alt="problem space">
        </div>
        <div class="site-work-detail-page-white-bg-chart-with-content-text" data-aos="fade-in" data-aos-duration="1500">
          <ul>
            <p>Takeaways:</p>
            <li>The typical target user is 24-45 year old investors who are more likely to trust technology + advisors,
              which accounts for about 25% of US stock market trading volume.</li>
            <li>I suggest to highlight our high tech strengths like AI, date mining, investment module, gragh, HCI,
              blockchain and data process, which plays an impoartant role in attracting them and let them trust in our
              platform.</li>
            <li>Accrording to the research, services we provide could include personal investment strategy, reliable
              platform with certificated analysts,infomation processing, and solid research and stoke market news.</li>
          </ul>
        </div>
      </div>

      <div class="site-work-detail-page-white-bg-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. Competitive & Industry Landscape</h4>
        <p>I assessed how the client stacks up against competitors and usability leaders, and identified opportunities
          for innovation in problem solving, market segments, and unique value proposition.</p>
      </div>

      <div class="site-work-detail-page-white-bg-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy"
          src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/compressed/Competitive%20Analysis%20General.jpg"
          alt="Competitive Analysis General">
      </div>

      <div class="site-work-detail-page-white-bg-header" data-aos="fade-in" data-aos-duration="1500">
        <p>At the user experience level, I evaluated competitors' user experience, compared their usefulness, usability
          and desirability, as well as analyzed how they're trying to achieve the goal, what their brand is trying to
          convey, and what customers like or dislike.</p>
      </div>

      <div class="site-work-detail-page-white-bg-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/compressed/competitive-analysis.png"
          alt="Competitive Analysis General">
      </div>

    </div>
  </div>

  <div id="02-User-Research" class="site-work-detail-page-white-bg" data-aos="fade-in" data-aos-duration="1500"
    style="background-color:rgb(202, 193, 210);">
    <div class="container">

      <div class="site-work-detail-page-white-bg-header">
        <h3>02. User Research</h3>
        <h4>I. User Survey</h4>
        <p>To start, I conducted user research with the UX team through participatory, qualitative, and quantitative
          methods to enable understanding of the context as well as the users’ needs. We co-created the user survey and
          sent it widely to collect useful data, from which we learned about basic information, investment habits, needs
          and pain points of our target users.
        </p>
      </div>

      <div class="site-work-detail-page-white-bg-two-chart" data-aos="fade-in" data-aos-duration="1500">
        <div class="site-work-detail-page-white-bg-two-chart-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/compressed/survey%20result.jpg"
            alt="survey result1">
        </div>
        <div class="site-work-detail-page-white-bg-two-chart-img" data-aos="fade-in" data-aos-duration="1500">
          <img loading="lazy" src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/compressed/survey%20result2.jpg"
            alt="survey result2">
        </div>
      </div>

      <div class="site-work-detail-page-white-bg-header" data-aos="fade-in" data-aos-duration="1500">
        <h4>II. User Interview</h4>
        <p>We conducted interviews with our selected target users from among the survey respondents who were willing to
          be interviewed. They are invited to test the exisiting Armadillo platform. A range of people were engaged,
          including roles such as Investment company CEO, PhD student in science and engineering, senior product
          manager, individual investor. Stakeholders from Armadillo were also involved in the process to provide a
          technical perspective.</p>
      </div>

      <div class="site-work-detail-page-white-bg-chart" data-aos="fade-in" data-aos-duration="1500">
        <img loading="lazy" src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/compressed/user%20interview.jpg"
          alt="User Interview">
      </div>

    </div>
  </div>


  <div id="02-User-Research-2" class="site-work-detail-page-white-bg" data-aos="fade-in" data-aos-duration="1500" style="margin-top: 5%;">
  <div class="container">

    <div class="site-work-detail-page-white-bg-header" data-aos="fade-in" data-aos-duration="1500">
      <h4>III. Persona</h4>
      <p>Based on the interviews, I came up with a typical persona to abstract users' investment goals and needs, as well as their current fears and pain points using existing investment methods.</p>
    </div>

    <div class="site-work-detail-page-chart" data-aos="fade-in" data-aos-duration="1500">
      <img loading="lazy" src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/compressed/persona-01.jpg"
        alt="persona-01">
    </div>

    <div class="site-work-detail-page-white-bg-header" data-aos="fade-in" data-aos-duration="1500">
      <h4>IV. Experience Map</h4>
      <p>I also created an experience map to provide a digestible means of understanding information from interviews, which created a shared understanding with stakeholders of customer needs and pains, feelings and opportunity areas and were used to inform design decisions.</p>
    </div>

    <div class="site-work-detail-page-chart" data-aos="fade-in" data-aos-duration="1500">
      <img loading="lazy" src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/compressed/Experience%20Map.jpg"
        alt="experience-map">
    </div>

  </div>
</div>



  </div>


</section>




{{ end }}