{{ define "main" }}

<section class="site-work-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="site-work-header-title">Armadillo</h3>
        <p class="site-work-header-desc">Company Cooperation Project</p>
        <p class="site-work-header-role">Role: UX/ UI Designer</p>
        <p class="site-work-header-disclaimer">Disclaimer: To comply with NDA, I have obfused confidential information
          in this case study. All information in this case study is my own and does not necessarily reflect the views of
          Armadillo.</p>
      </div>
    </div>
  </div>
</section>

<!-- <div class="site-work-divider"></div> -->

<section class="site-work-detail">
    <div class="site-work-detail-front"
      style="background-image:url('https://cdn.celiasy.xyz/images/ux-web3/armadillo/front%20page.jpg') ;">
      <div class="site-work-detail-front-info">
        <div class="site-work-detail-front-info-box">
          <row>
            <div class="site-work-detail-front-info-title">
              <h3>Armadillo</h3>
            </div>
          </row>
          <row>
            <div class="site-work-detail-front-info-content">
              <p>Armadillo provides retail investors with better analytical information, and helps them make good
                investment decisions.</p>
            </div>
          </row>
          <row>
            <div class="site-work-detail-front-info-btn"><a href="#problem-space" class="btn btn-primary">Learn More</a></div>
          </row>
        </div>
      </div>
    </div>
  </div>

  <div id="problem-space" class="site-work-detail-page">

      <div class="container">

      <div class="site-work-detail-page-header">
        <h3>Problem Space</h1>
        <p>As growing retail investors flood the market, investors need better analytics more than ever. However, more
          than half of retail investors are NOT satisfied with the existing insights and research provided by brokerages.
        </p>
      </div>


      <div class="site-work-detail-page-chart">
        <img src="https://cdn.celiasy.xyz/images/ux-web3/armadillo/problem%20space.png" alt="problem space">
      </div>

      <div class="site-work-detail-page-header">
        <p>How might we provide a platform that enables retail investors to gain more effective analytical information and make better investment decisions?</p>
      </div>

    </div>

  </div>

  </div>


</section>




{{ end }}