{{ define "main" }}

<section class="site-work-intro">
    <div class="container">
      <div class="row">
        <div class="site-work-intro-link col-md-4" data-aos="fade-in" data-aos-duration="1500">
          <h2>
              <a target="_self">{{ .Params.title}}</a>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="site-work-intro-content col-md-6" data-aos="fade-in" data-aos-duration="1500">
          <p>
            <p>{{ .Params.intro_content}}</p>
            </p>
        </div>
      </div>
    </div>
</section>

<div class="site-work-divider"></div>

</section> 

<section class="site-work-works">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.works }}
      <div class="site-work-works-image-list">
        {{ range $index, $element := .work_item }}
        {{ if eq $element.type $.Params.data_type }}
        <a class="site-work-works-image-item" href="{{ .url }}" target="_self" data-aos="fade-in" data-aos-duration="1500">
          <div class="site-work-works-image-item-mask">
            <img src="{{ .img }}" alt="Image">
            <span class="site-work-works-image-item-title">{{ .title }}</span>
          </div>
        </a>
        {{ end }}
        {{ end }}
        <!-- 更多图片... -->
      </div>
      {{ end }}
    </div>
  </div>
</section>  

{{ end }}