<footer class="site-footer">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="site-footer-social" data-aos="fade-in" data-aos-duration="1500">
          <ul class="site-footer-social-icons">
            <li>
              <a target="_blank" aria-label="linkedin" rel="nofollow noopener"
                href="https://www.linkedin.com/in/celia-shuyue-li/">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
              </a>
              <a target="_blank" aria-label="instagram" rel="nofollow noopener"
                href="https://www.instagram.com/celia.sysy/">
                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
              </a>
              <a target="_blank" aria-label="twitter" rel="nofollow noopener" href="https://twitter.com/ShuyueLi4/">
                <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="site-footer-copyright">
          <p>© {{ dateFormat "2006" now }} <a href="https://github.com/artstur" target="_blank">ArtStur Associates</a>.
            All Rights Reserved. </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- {{ $formhandler := resources.Get "js/formhandler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script> -->
<!-- {{ $vendor := resources.Get "js/vendor.js" | minify }} -->
<!-- <script src="{{ $vendor.Permalink }}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" defer></script>
{{ $script := resources.Get "js/script.js" | minify | fingerprint }}
<script src="{{ $script.RelPermalink }}" defer></script>

<!-- Animate on scroll library -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js" defer></script>

<!-- Smooth Scroll library -->
<script src="https://cdn.jsdelivr.net/npm/smooth-scroll@16.1.3/dist/smooth-scroll.polyfills.min.js" defer></script>

<!-- Swiper library -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11.2.6/swiper-bundle.min.js" defer></script>

<!-- Page initialization: AOS, SmoothScroll, Swiper, Video Modal -->
{{ $init := resources.Get "js/init.js" | minify | fingerprint }}
<script src="{{ $init.RelPermalink }}" defer></script>