<footer class="site-footer">
  <div class="container">

    <div class="row">
      <div class="col-12">
      <div class="site-footer-social" data-aos="fade-in" data-aos-duration="1500">
        <ul class="site-footer-social-icons">
            <li>
              <a
                target="_blank"
                aria-label="linkedin"
                rel="nofollow noopener"
                href="https://www.linkedin.com/in/celia-shuyue-li/">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
              <a
                target="_blank"
                aria-label="instagram"
                rel="nofollow noopener"
                href="https://www.instagram.com/celia.sysy/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a
                target="_blank"
                aria-label="twitter"
                rel="nofollow noopener"
                href="https://twitter.com/ShuyueLi4/">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </a>
            </li>
        </ul>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="site-footer-copyright">
          <p>© {{ dateFormat "2006" now }} <a href="https://github.com/artstur" target="_blank">ArtStur Associates</a>. All Rights Reserved. </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- {{ $formhandler := resources.Get "js/formhandler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script> -->
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
<!-- Animate on scroll library -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
</script>