<section class="site-work-intro">
    <div class="container">
      <div class="row">
        <div class="site-work-intro-link col-md-4"  data-aos="fade-in" data-aos-duration="1500">
          <h2>
              <a href="/work/multimedia-art-hci" target="_self">Multimedia Art</a>
              <br>
              <a href="/work/spatial-design" target="_self">Spatial Design</a>
              <br>
              <a href="/work/ux-web3" target="_self">UX &amp; Web3</a>
          </h2>
        </div>
        <div class="site-work-intro-content col-md-4" data-aos="fade-in" data-aos-duration="1500">
          <p>
            <span>{{ .Site.Params.intro.intro_content }}</span>
          </p>
        </div>
      </div>
    </div>
</section>

<div class="site-work-divider"></div>

</section>  