<section class="site-work-works">
    <div class="container">
      <div class="row">
        {{ with .Site.Data.works }}
        <div class="site-work-works-image-list">
          {{ range $index, $element := .work_item }}
          <a class="site-work-works-image-item" href="{{ .url }}" target="_self" data-aos="fade-in" data-aos-duration="1500">
            <div class="site-work-works-image-item-mask">
              <img src="{{ .img }}" alt="Image">
              <span class="site-work-works-image-item-title">{{ .title }}</span>
            </div>
          </a>
          {{ end }}
          <!-- 更多图片... -->
        </div>
        {{ end }}
      </div>
    </div>
</section>  