{{ define "main" }}

<section class="site-work-header" data-aos="fade-in" data-aos-duration="1500">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="site-work-header-title">Knowing River Through Sound</h3>
        <p class="site-work-header-project-desc"><a
            href="https://act.mit.edu/event/soma-salon-002-art-public-sphere-choreographing-the-city/"
            target="_blank">MIT Art & Public Sphere Exhibition</a></p>
      </div>
    </div>
  </div>
</section>


<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/7ByGB9I9jSM?si=fHP_hFgRXbCZMNtv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->

<!-- <div class="site-work-divider"></div> -->

<section class="site-work-detail">

  <div class="site-work-detail-front" data-aos="fade-in" data-aos-duration="1500"
    style="background-image:url('https://cdn.celiasy.xyz/images/multimedia-art/knowing-river-through-sound/title%20page.jpg') ;">
    <div class="site-work-detail-front-info">
      <div class="site-work-detail-front-info-box">
        <row>
          <div class="site-work-detail-front-info-title" data-aos="fade-in" data-aos-duration="1500">
            <h3>Armadillo</h3>
          </div>
        </row>
        <row>
          <div class="site-work-detail-front-info-content" data-aos="fade-in" data-aos-duration="1500">
            <p>Armadillo provides retail investors with better analytical information, and helps them make good
              investment decisions.</p>
          </div>
        </row>
        <row>
          <div class="site-work-detail-front-info-btn" data-aos="fade-in" data-aos-duration="1500"><a
              href="#problem-space" class="btn btn-primary">Learn More</a>
          </div>
        </row>
      </div>
    </div>
  </div>

  <div id="06-Impact-Reflections" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">
      <div class="site-work-template-plain-text" data-aos="fade-in" data-aos-duration="1500">
        <p>First phase: VR film installation, 2022. (Best viewed in installation, YoutubeVR on VR headsets will give you
          access to a reduced resolution version). </br>Second & third phases: multimedia performance (in progress and
          confidential).</p>
        <p>In the Yoruba myth of Osogbo, Nigeria, people asked the river Osun for guidance in where to establish their
          city, Osogbo, when Osun said, “move the city until you no longer hear my voice.” The river’s voice, aural,
          metaphorical, or political, has largely been neglected in human civilization’s perception of the world and
          intervention of it, such as territorialization or urbanization. The river is not just a habitat for beings;
          the river is a being. As modern culture becomes distanced from nature and migration of people, organisms,
          water and land happen in history, rivers are reduced to natural resources or economic values to businesses.
          “Knowing River through Sound” is a multi-stage, multimedia art piece that asks the public to, as landscape
          historian Peter Coates has advocated, know nature through sound – listen to the river’s original voice
          collected by the artists, perceive beyond transcience, characterize the undescribable, and connect beyond the
          boundaries of human and nonhuman.</p>
        <p>“Knowing River through Sound” VR film was shared during the Soma Salon #2 at MIT List Center of Arts
          organized by Gediminas Urbonas and Adesola Akinleye with communities of MIT and Harvard students and guests.
          The VR film elicited the response of moving and dancing in the river in many of the audience.</p>
      </div>

      <div class="site-work-template-image-slide" data-aos="fade-in" data-aos-duration="1500">
        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide site-work-template-image-slide-img"><img
                src="https://cdn.celiasy.xyz/images/multimedia-art/knowing-river-through-sound/1.jpg" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img"><img
                src="https://cdn.celiasy.xyz/images/multimedia-art/knowing-river-through-sound/2.jpg" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img"><img
                src="https://cdn.celiasy.xyz/images/multimedia-art/knowing-river-through-sound/3.jpg" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img"><img
                src="https://cdn.celiasy.xyz/images/multimedia-art/knowing-river-through-sound/4.jpg" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img"><img
                src="https://cdn.celiasy.xyz/images/multimedia-art/knowing-river-through-sound/5.jpg" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img"><img
                src="https://cdn.celiasy.xyz/images/multimedia-art/knowing-river-through-sound/6.jpg" loading="lazy">
            </div>
          </div>
          <!-- If we need pagination -->
          <!-- <div class="swiper-pagination"></div> -->

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>



    </div>



  </div>

</section>




{{ end }}