{{ define "main" }}

<section class="site-work-header" data-aos="fade-in" data-aos-duration="1500">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="site-work-header-title">A Collection: Garments of Discomfort</h3>
        <p class="site-work-header-project-desc">Harvard Kirkland Gallery Exhibition &middot; Interrogative Design</p>
      </div>
    </div>
  </div>
</section>

<section class="site-work-detail">

  <div id="Introduction" class="site-work-detail-page-template" data-aos="fade-in" data-aos-duration="1500">
    <div class="container">

      <!-- Image Gallery: Garments and Technical Drawings -->
      <div class="site-work-template-image-slide" data-aos="fade-in" data-aos-duration="1500">
        <div class="swiper image-swiper-gallery">
          <div class="swiper-wrapper">
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/SHORTS.jpg" alt="Bleeding Shorts" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/220425_Technical%20Drawings-05.jpg" alt="Bleeding Shorts - Technical Drawing" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/COAT.jpg" alt="Fatigue Coat" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/220425_Technical%20Drawings-02.jpg" alt="Fatigue Coat - Technical Drawing" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/SKIRT.jpg" alt="Bloated Skirt" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/220425_Technical%20Drawings-01.jpg" alt="Bloated Skirt - Technical Drawing" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/BRA.jpg" alt="Swelling Bra" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/220425_Technical%20Drawings-03.jpg" alt="Swelling Bra - Technical Drawing" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/HAT.jpg" alt="Insomnia Hat" loading="lazy">
            </div>
            <div class="swiper-slide site-work-template-image-slide-img">
              <img src="https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/220425_Technical%20Drawings-04.jpg" alt="Insomnia Hat - Technical Drawing" loading="lazy">
            </div>
          </div>
          <div class="swiper-button-prev image-swiper-gallery-prev"></div>
          <div class="swiper-button-next image-swiper-gallery-next"></div>
        </div>
      </div>

      <!-- Project Description -->
      <div class="site-work-template-plain-text">
        <p>In contrast to the conventional idea of prosthetics, which is often intended to restore or enhance the body&rsquo;s function, Garments of Discomfort is a counter-prosthetic that aims to irritate and unease the body. The series of garments attempt to generate the discomfort sensation mimicking the symptoms of menstruation. The current collection consists of the Bloated Skirt, the Fatigue Coat, the Swelling Bra, the Bleeding Shorts and the Insomnia Hat corresponding to the symptoms of leg bloated, body fatigue, breast swelling and soreness, bleeding, as well as insomnia during menstruation.</p>
        <p>Throughout history, menstruation had always been framed as a hygienic crisis and viewed as a subject of shame that should be inconspicuous. While many new products such as tampons and pads are produced for people during their period, they fail to solve the fundamental problem surrounding menstruation, which is the cultural stigma. In the article &ldquo;If Men Could Menstruate,&rdquo; Feminist scholar Steinem pointed out that menstruation is considered stigmatized primarily due to its association with female bodies. If associated with male bodies, it would be perceived as positive and glorious. As the cultural stigma persists today, our team aims to raise awareness of menstruation shame by designing a collection of garments as a counter-prosthetic addressed to all audiences.</p>
      </div>

    </div>
  </div>

  <div data-aos="fade-in" data-aos-duration="1500">
    {{ partial "work/video-carousel.html" (dict
      "videos" (slice
        (dict
          "src" "https://www.youtube.com/embed/P8ShCn6hi4g?autoplay=1"
          "title" "Garments of Discomfort"
          "author" "Shuyue Li"
          "duration" ""
          "thumb" "https://cdn.celiasy.com/images/multimedia-art/garments-of-discomfort/front-4.png"
          "desc" "A Collection: Garments of Discomfort &mdash; a counter-prosthetic that aims to irritate and unease the body, mimicking the symptoms of menstruation."
          "alt" "Garments of Discomfort"
          "overlayTitle" "Garments of Discomfort"
        )
      )
    ) }}
  </div>
  {{ partial "work/video-modal.html" . }}

  {{ partial "work/collaboration-meta.html" (dict
    "collaborators" "Jiaying Qin, Tara Sun, Barbara Miglietti, Lafina Eptaminitaki"
    "medium" "Fabric, Light, Fake Blood, Fishing Weight"
  ) }}

</section>

{{ end }}
