.site-work-template {


    &-plain-text {

        margin-top: 3%;
        margin-bottom: 3%;
        font-family: $myriad-font;
        text-align: justify;

        p {
            font-size: 16px;
            color: #000;
            font-family: $myriad-font;
            @include mobile {
                font-size: 15px;
            }
        }

        a {
            color: $text-color;
            text-decoration: underline;
            transition: all 0.3s ease; // 添加过渡效果，使颜色变化和其他变化更平滑
            &:hover {
                opacity: 0.6;
                transform: scale(1.05); // 鼠标悬停时稍微放大
            }

        }

        &--meta {
            max-width: 50%;
            margin-top: 0;

            @include mobile {
                max-width: 100%;
            }

            p {
                color: gray;
            }

            a {
                color: $text-color;
            }
        }

    }

}