.site-work-template {


    &-plain-text {

        margin-top: 3%;
        margin-bottom: 3%;
        font-family: $myriad-font;
        text-align: justify;

        p {
            font-size: 16px;
            color: #000;
            font-family: $myriad-font;
            padding: 1%;
            @include mobile {
                font-size: 14px;
            }
        }

        /* 移动端样式 */



    }

}