.site-work-detail-page-template-three-stat {
  display: flex;
  align-items: center;
  padding: 1% 0;
  gap: 2%;

  @include mobile {
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    flex: 1;
    min-width: 0;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__item--chart {
    img {
      max-width: 80%;
      margin: 0 auto;

      @include mobile {
        max-width: 60%;
      }
    }
  }

  &__item--text {
    p {
      font-family: $myriad-font;
      font-size: 18px;
      line-height: 1.6em;
      color: $black;
      margin: 0;

      @include mobile {
        font-size: 14px;
      }
    }
  }

  &__highlight {
    font-size: 1.6em;
    color: #3851FF;
  }

}

p.site-work-three-stat-callout {
  font-size: 1.5em;
  padding-top: 16px;

  @include mobile {
    font-size: inherit;
  }
}
