{{ define "main" }}

<section class="site-contact-intro">
  <div class="container">
    <div class="row">
      <div class="site-contact-intro-header col-md-6" data-aos="fade-in" data-aos-duration="1500">
          <h2>{{ .Params.header_title1}}</h2>
          <h2>{{ .Params.header_title2}}</h2>
      </div>
    </div>
  </div>
</section>

<div class="site-contact-divider"></div>


<section class="site-contact-content">
  <div class="container">
    <div class="row">

      <div class="site-contact-content-potrait col-md-5" data-aos="fade-in" data-aos-duration="1500">
        <img src="https://cdn.celiasy.xyz/images/personal-pic/6_compressed.jpg" alt="potrait">
      </div>

      <div class="site-contact-content-info col-md-7 ml-auto" data-aos="fade-in" data-aos-duration="1500">

        <div  class="site-contact-content-text">
              <p>Email // <a href="mailto:shuyue_li@gsd.harvard.edu" target="_blank">shuyue_li[at]gsd.harvard.edu</a></p>
              <p>LinkedIn // <a href="https://www.linkedin.com/in/celia-shuyue-li/" target="_blank">@shuyueli</a></p>
              <p>Twitter // <a href="https://twitter.com/ShuyueLi4/" target="_blank">@ShuyueLi4</a></p>
              <p>Instagram // <a href="https://www.instagram.com/celia.sysy/" target="_blank">@celia.sysy</a></p>
              <p>Portfolio // <a href="/" target="_self">celiasy.xyz</a></p>
        </div>

        <div class="site-contact-content-more" data-aos="fade-in" data-aos-duration="1500">
          <p>{{ .Params.intro_content}}</p>
        </div>

      <!-- <div class="site-contact-content-form">
            <form id="contact-form" action="{{ .Site.Params.fabform }}" method="post">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                </div>
                <div class="col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="col-12">
                  <textarea class="form-control" id="message" name="message" rows="6" placeholder="Message"></textarea>
                </div>
                <div class="col-12">
                  <button formtarget="_blank" type="submit" class="btn btn-primary" id="contact-form-button">
                    <span class="btn-area">
                      <span data-text="{{ .Site.Params.contactForm.send_message }}">
                        {{ .Site.Params.contactForm.send_message }}
                      </span>
                    </span>
                  </button>
                </div>
                <p id="contact-form-status"></p>
              </div>
            </form>
            <p class="contact-form-generator">
              <a href="https://fabform.io/f/YNmAGga" target="_blank">form backend service</a>
            </p>
      </div> -->

    </div>
  </div>
</section>


{{ end }}
